.changePasswordPage {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    z-index: 30;
    overflow: hidden;  
}

.changePasswordContainer {
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--backgroundColor);
    position: absolute;    
    z-index: -1;
}

.changePassword_topDiv {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 600;
}

.changePasswordPage_title {
    font-size: 3em;
    margin-bottom: 1em;
    color: var(--textColor);
    text-align: center;
    font-family: var(--fontStyle);   
}

.changePassword_mainDiv {
    gap: 1em;
    flex: 1.5;
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center;
}

.changePasswordPage_bottomDiv {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 3em;
    width: 100%;
    /* background-color: black; */
}
