.choice-box-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
}

.choice-box-label {
  font-size: 1rem;
  font-weight: bold;
  color: #FFF8E8;
  transition: 0.3s ease; /* Smooth transition for the label */
  position: flex; /* Position label absolutely */
  align-items: center;
  left: 10px; /* Align label to the left */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for centering */
}

.choice-box-label.filled {
  top: 0; /* Move label to the top */
  transform: translateY(0); /* No vertical adjustment needed */
  font-size: 0.75rem; /* Smaller font size when filled */
  color: #007bff; /* Change color when filled */
}

.choice-box-select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  height: 55px; /* Adjust the height to control the size */
  position: relative; /* Allow label to position correctly */
}

.choice-box-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  outline: none;
}
