.MainBoard_main {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--backgroundColor);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  min-height: 160px;
}
.hidden {
  display: none;
}

.visible {
  display: block;
}

.MainBoard_header {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: right;
  right: 0;
  min-height: 16px;
}

.MainBoard_userButton {
  display: block;
  flex: 0 1 auto;
  aspect-ratio: 1/1;
  align-items: center;
  float: left;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
  height: 100%;
  width: fit-content;
  margin: auto;
}


.MainBoard_grid {
  display: flex;
  flex: 0 1 auto;
  position: relative;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 95%;
  /*height: 30vh;*/
  flex-wrap: wrap;
  align-self: center;
  flex-direction: row;
  overflow: visible;
  grid-auto-flow: row;
  max-height: 100%;
  overflow-y: auto;
  gap: 5%;
}

.MainBoard_gridButton {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  position: relative;
  width: 100%;
  max-width: 30vh;
  flex-grow: 1;
  box-sizing: border-box;
}

@media (max-aspect-ratio: 1150/1080) {
  .MainBoard_grid {
    flex-direction: column;
    gap: 1.8vh;
  }

  .MainBoard_gridButton {
    flex-basis: 60%;
  }
  
  .MainBoard_gridButton:hover {
    transform: scale(2);
  }
  
}

.MainBoard_content {
  width: 100%;
  height: 95%;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  flex: 2;
  color: var(--textColor);
  font-family: var(--fontStyle);
  font-weight: bold;
  font-size: clamp(1.5em, 3vw, 3.5em);
}

.MainBoard_selection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 1;
  overflow: visible;
  flex: 5;
  z-index: 9;
}

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 2;
}

.MainBoard_mode2 {
  width: 100%;
  height: 100%;
  position: absolute;
  flex: none;
}

.MainBoard_returnButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 30vh;
  flex-grow: 1;
  box-sizing: border-box;  
}

.mode1TextDiv {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mode1Text {
  font-size: 2vh;
  color: var(--textColor);
  text-align: center;
  font-family: var(--fontStyle);
}

.mode1TimerDiv {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timerText {
  font-size: 2vh;
  color: var(--textColor);
  text-align: center;
  font-family: var(--fontStyle);
}

.smallText {
  font-size: 16px;
  font-family: var(--fontStyle);
  display: inline;
}

.headerLinks {
  margin-left: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.linksText {
  font-size: clamp(0.8em, 1vw, 1em);
  
  color: var(--textColor);
  font-family: var(--fontStyle);
}

.outerLinkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
  height: 100%;
}
.innerLinkContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  transform-origin: center;
}
.innerLinkContainer:hover {
  transform: scale(0.9);
}
