.MainBoard_mode1 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    background-color: #AAB396;
    /*background-image: url("https://static.wixstatic.com/media/d9657b20f1b9473f90815b9da211bb2a.jpg/v1/fit/w_924,h_520/d9657b20f1b9473f90815b9da211bb2a.jpg");*/
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    z-index: 8;
  }

  .mode1_innerDiv {
    position: relative;
    display: flex;
    align-items: center;
    height: 80%;
    justify-content: center;
    box-sizing: border-box;
  }
  .mode1_upperDiv {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .mode1_lowerDiv {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .mode1_mainBox {
    position: relative;
    width: 80%;
    height: 100%;
    border-radius: 12px;
    border: solid 4px;
    border-color: #FFF8E8;
    z-index: 50;
  }