.settingsPage {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--backgroundColor);
    overflow: hidden;
}

.settingsHeader {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    /* background-color: brown; */
}

.settingsContent {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    /* background-color: blue; */
}

.settingsContentAuth {
    display: flex;
    flex: 3;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: blue; */    
}

.settingsColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.settingsFooter {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 3em;
    /* background-color: black; */
}

.settingsHeaderText {
    font-family: var(--fontStyle);
    font-size: var(--headerFontSize);
    color: var(--textColor);
}

.settingsButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    font-family: var(--fontStyle);
    color: var(--textColor);
    width: 75%; 
    margin: 20px auto;
    position: relative; 
    transform: scale(0.8);
}

.settingButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 18em;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 1em 2em; 
    border-radius: 12px;
    border: 4px solid var(--borderColor);
    background-color: transparent;
    color: var(--textColor);
    font-size: 1.2em;
    font-family: var(--fontStyle);  
}