.custom-hyperlink {
  text-decoration: none;
  color: var(--hyperlinkColor); /* Adjust the color as needed */
  cursor: pointer;
  display: inline; /* Change to inline to make it appear like regular text */
}

.custom-hyperlink:hover {
  color: var(--hyperlinkHoverColor); /* Adjust hover text color as needed */
}