.dropdown {
    position: relative;
    display: flex;
    justify-content: flex-end;  
    width: 100%;
    align-items: center;
}

.dropdown-button {
    width: auto;  
    height: 100%;    
    display: block;
    cursor: pointer;
    z-index: 100;
    box-sizing: border-box; 
}

.dropdown-menu {
    position: absolute;
    top: 100%; 
    right: 0; 
    list-style: none;
    padding: 0;
    margin: 0;
    width: auto;
    z-index: 101;
    display: block;
}

.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
}
