.MainBoard_main {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #AAB396;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  min-height: 160px;
}
.hidden {
  display: none;
}

.visible {
  display: block;
}

.MainBoard_header {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: right;
  align-items: right;
  right: 0;
  
  min-height: 16px;
}

.MainBoard_userButton {
  display: block;
  flex: 0 1 auto;
  aspect-ratio: 1/1;
  align-items: center;
  float: left;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
  height: 100%;
  width: fit-content;
  margin: auto;
}



.MainBoard_selection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  opacity: 1;
  overflow: visible;
  height: 100%;
  z-index: 9;
}

.MainBoard_grid {
  display: flex;
  flex: 0 1 auto;
  position: relative;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 95%;
  /*height: 30vh;*/
  flex-wrap: wrap;
  align-self: center;
  flex-direction: row;
  overflow: visible;
  grid-auto-flow: row;
  max-height: 100%;
  overflow-y: auto;
  gap: 5%;
}

.MainBoard_gridButton {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  position: relative;
  width: 100%;
  max-width: 30vh;
  flex-grow: 1;
  box-sizing: border-box;
}

/* Fix for unequal button stacking in grid */
@media (max-aspect-ratio: 1150/1080) {
  .MainBoard_grid {
    flex-direction: column;
    gap: 1.8vh;
  }

  .MainBoard_gridButton {
    flex-basis: 60%;
  }

  .MainBoard_gridButton:hover {
    transform: scale(2);
  }

}

.MainBoard_content {
  width: 100%;
  height: 95%;
  position: relative;
  z-index: 10;
}
.MainBoard_mode1 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  background-color: #AAB396;
  /*background-image: url("https://static.wixstatic.com/media/d9657b20f1b9473f90815b9da211bb2a.jpg/v1/fit/w_924,h_520/d9657b20f1b9473f90815b9da211bb2a.jpg");*/
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  z-index: 8;
}

.mode1_innerDiv {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/*
.mode1_innerDiv:nth-child(1) {
  background-color: yellow;
}

.mode1_innerDiv:nth-child(2) {
  background-color: green;
}

.mode1_innerDiv:nth-child(3) {
  background-color: red;
}
*/

.MainBoard_mode2 {
  width: 100%;
  height: 100%;
  position: absolute;
  flex: none;
}

.MainBoard_returnButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 30vh;
  flex-grow: 1;
  box-sizing: border-box;  
}

.MainBoard_loginPage{
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.mode1TextDiv {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mode1Text {
  font-size: 2vh;
  color: white;
  text-align: center;
}

.mode1TimerDiv {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timerText {
  font-size: 2vh;
  color: white;
  text-align: center;
}