.settingsChoiceBox {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.settingsChoiceBoxLabel {
    margin-right: 8px;
    font-weight: bold;
    font-family: var(--font_style);
    color: var(--text_color);
}

.settingsChoiceBoxSelect {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}