.settingsChoiceBox {
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: flex-start; /* Align items to the start */
    font-family: var(--fontStyle);
    color: var(--textColor);
    width: 60%; /* Ensure the container takes up the full width */
    margin: 20px auto; /* Add space above and below, center the container horizontally */
}

.settingsChoiceBoxLabel {
    font-size: 20px;
    margin-bottom: 5px; /* Match the space below the label in EditableField */
    font-weight: bold;
}

.settingsChoiceBoxSelect {
    font-size: 20px;
    padding: 5px;
    border: 4px solid var(--borderColor);
    border-radius: 12px;
    background-color: transparent;
    color: var(--textColor);
    font-family: var(--fontStyle);
    box-sizing: border-box;
    width: 100%; /* Adjust width to fit the container */
    appearance: none; /* Remove default styling */
    position: relative; /* For positioning the pseudo-element */
    display: block; /* Ensure the select element is a block element */
}

/* TODO: FIX SELECTION WIDTH FOR FIREFOX */